# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
web/sites/*/*settings*.php
web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
web/sites/*/files
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
web/sites/*/files-private

# Ignore paths that may contain temporary files
web/sites/*/translations
web/sites/*/tmp
web/sites/*/cache

# Ignore testing related files
web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
web/core
web/modules/contrib
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/example.sites.php
web/sites/example.settings.local.php
web/sites/development.services.yml
web/themes/README.txt
web/themes/contrib
/vendor
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.htaccess
autoload.php
example.gitignore
web/index.php
web/.ht.router.php
web/INSTALL.txt
LICENSE.txt
README.txt
web/README.md
robots.txt
update.php
web.config
